
.bg-marygrace {
    background-image: url(../asset/img/bg-hero.png) !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
}
:root {
    --primary-color: #FCF9F6;
    --secondary-color: #FFEFD4;
    --cta-color: #790000;
    --tertiary-color: #e0b444;
    --bs-accordion-btn-focus-border-color : #790000 !important;
}
.white-bg{
    background-color: #fff !important;
}
.primary-bg{
    background-color: var(--primary-color)!important;
}
.secondary-bg{
    background-color: var(--secondary-color)!important;
}
.cta-bg{
    background-color: var(--cta-color) !important;
    color: var(--primary-color) !important;
}
.cta-color{
    color: var(--cta-color) !important;
}
.bg-none{
    background-color: transparent !important;
}
.icon {
    background-color: transparent;
    color: #790000;
    fill: #790000;
    width: 20px;
    margin: 0 auto;
    margin-left: 10px;
}
.icon:hover {
   opacity: .8;
   cursor: pointer;

}
button.secondary-bg:hover{
    background-color: var(--cta-color) !important;
    color: var(--primary-color) !important;
}
.fw-500{
    font-weight: 500 !important;
}
.v-align-items-baseline{
    vertical-align: baseline;
}
.webkit-right{
    text-align: -webkit-right;
}
.disabled{
    fill: gray;
}
.disabled:hover{
    cursor:default;

}
